<!doctype html>
<html lang="en">
  <head>
    <%-include('../partials/head.ejs') %>
  </head>
  <body>
    <%-include('../partials/header.ejs') %> <%-include('../partials/boardCreateHeadImg.ejs') %>
    <div class="container">
      <!-- 본문 -->
      <p>인기 게시글</p>
      <!-- <p><a href="">인기순</a> / <a href="">최신순</a></p> -->
      <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
        <!-- 여행 포스트 카드 반복문-->
        <% data.forEach(function(articleOne) { %>
          <div class="col">
            <a href="/article/<%= articleOne.id %>">
            <div class="card h-100">
              <% if(articleOne.imgUrl) { %>
                <div class="image-wrapper">
                  <img src="<%= articleOne.imgUrl %>" class="card-img-top articleImg" alt="Article Image" />
                </div>
              <% } else { %>
                <!-- 기본 이미지 또는 대체 이미지 -->
                <img src="https://geojecci.korcham.net/images/no-image01.gif" class="card-img-top articleImg" />
              <% } %>
              <div class="card-body">
                <h5 class="card-title"><%= articleOne.articleTitle %></h5>
                <div class="card-text">
                  <p>
                    <%= articleOne.editorContent %>
                  </p>
                </div>
                <div class="text-end mt-2">
                  <i class="fa-regular fa-comment cardIcons me-2">&nbsp; <%= articleOne.commentCount %> </i
                  >&ensp;<i class="fa-solid fa-heart likeHeart"><span class="cardIcons">&nbsp; <%= articleOne.likesCount %></span></i>
                </div>
              </div>
            </div>
          </a>
          </div>
          <% }); %>
        <!-- 여행 포스트 카드 끝 -->
      </div>
      <!-- 본문 -->
    </div>
    <script src="./script/createTravel.js"></script>
    <%-include('../partials/script.ejs') %>
  </body>
</html>
