<!doctype html>
<html lang="en">
  <head>
    <%-include('../partials/head.ejs') %>
  </head>
  <body>
    <%-include('../partials/header.ejs') %> <%-include('../partials/boardCreateHeadImg.ejs') %>
    <div class="container" style="width: 900px;">
      <!-- 본문 -->
        <h3 class="travelCategory">나의 여행보드</h3>
        <% myTravels.forEach(Travel => {
          const today = new Date();
          const endDate = new Date(Travel.end_date);
          const isPast = endDate < today; // end_date가 오늘 날짜 이전인지 확인
          const cardColor = isPast ? '#ccc' : Travel.color; // 지나간 여행인 경우 그레이
        %>
        <div class="oneComment my-2" data-id="<%= Travel.id %>" style="background-color: <%= cardColor %>">
          <a href="/travel/<%= Travel.id %>">
          <div class="row mb-2">
            <div class="col d-block">
              <h5 class="card-title travelListCardTitle"><%= Travel.title %></h5>
              <button type="button" class="btn btn-info btn-sm me-1" disabled><%= Travel.region %></button>
              <button type="button" class="btn btn-success btn-sm" disabled><%= Travel.theme %></button>
            </div>
            <div class="col text-end">
              <p><%= Travel.start_date %> ~ <%= Travel.end_date %></p>
            </div>
          </div>
          </a>
        </div>
        <% }); %>
      </div>
      <!-- 본문 -->
    </div>
<script src="./script/createTravel.js"></script>
<%-include('../partials/script.ejs') %>
  </body>
</html>
