<!doctype html>
<html lang="en">
  <head>
    <%-include('../partials/head.ejs') %>
  </head>
  <body>
    <%-include('../partials/header.ejs') %>
    <div class="container">
      <!-- 본문 -->
      <div class="row my-4">
        <div class="col-md-6">
          <!-- <p><a href="">인기순</a> / <a href="">최신순</a></p> -->
        </div>
        <% if(user===null){ %>
          <div class="col-md-6 text-end">
            <p class="tex-sm">로그인 후 글을 작성할 수 있습니다.</p>
          </div>
          <% }else{ %>
            <div class="col-md-6 text-end">
              <button type="button" onclick="location.href='/post'" class="btn btn-outline-secondary"><i class="fa-solid fa-pen me-2"></i>글쓰기</button>
            </div>
            <% } %>
      </div>
      <div class="row">
        <!-- 여행 포스트 카드 반복문-->
        <% data.forEach(function(articleOne) { %>
        <div class="my-1">
          <a href="/article/<%= articleOne.id %>">
          <div class="card">
            <div class="card-body">
              <p>게시물 ID : <%= articleOne.id %></p>
              <h5 class="card-title"><%= articleOne.title %></h5>
              <div class="text-end">
                <p>작성자 : <%= articleOne.writer %></p>
              </div>
              
            </div>
          </div>
        </a>
        </div>
        <% }); %>
        <!-- 여행 포스트 카드 끝 -->
      </div>
      <!-- 본문 -->
    </div>
    <%-include('../partials/script.ejs') %>
  </body>
</html>
