<!doctype html>
<html lang="en">
  <head>
    <%-include('../partials/head.ejs') %>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e892dc4fbde45212004f1d658cecdb6f"></script>
  </head>
  <body>
    <%-include('../partials/header.ejs') %>
    <div class="container">
      <!-- 본문 -->
      <div class="row" style="overflow-x: auto; white-space: nowrap;">
        <h1><%= oneTravel.title %></h1>
        <h4><%= oneTravel.theme %> / <%= oneTravel.region %> <button type="button" class="btn btn-secondary updateModalBtn" data-bs-toggle="modal" data-bs-target="#boardModal">수정하기</button></h4>
      </div>
      <div class="row" style="display: flex; flex-wrap: nowrap; overflow-x: auto;">
        <% days.forEach(day => { 
          const startDate = new Date(oneTravel.start_date);
          startDate.setDate(startDate.getDate() + day.day - 1);
          const dateString = startDate.toISOString().split('T')[0];
      %>
          <div class="oneDayList" style="background-color: <%= oneTravel.color %>;">
            <div class="oneDatListTitle justify-content-between align-items-center" >
              <h4><%= dateString %></h4>
              <button type="button" class="btn btn-outline-dark btn-sm text-end viewPathButton" data-column-id="<%= day.id %>">경로보기</button>
            </div>
            <!-- 해당 일자의 스케줄 목록 렌더링 -->
            <% 
            const daySchedules = schedulesResults.find(s => s.dayId === day.id);
            if (daySchedules && daySchedules.schedules.length > 0) {
              daySchedules.schedules.forEach(schedule => {
            %>
            <div class="scheduleBox">
                <!-- 스케줄 내용 렌더링 -->
                <div
                class="schedule"
                draggable="true"
                data-id="<%= schedule.id %>"
              >
                <p><button type="button" class="btn btn-info btn-sm me-1" disabled><%= schedule.place.category %>카테고리</button><span>장소이름 : <%= schedule.place.name %></span></p>
                <p>주소:<%= schedule.place.address %></p>
                <button
                  class="btn btn-outline-secondary btn-sm"
                  type="button"
                  id="scheduleDetail<%= schedule.id %>"
                >
                  상세보기
                </button>
              </div>
            </div>
            <% }); } else { %>
              <p>스케줄을 추가하세요!</p>
            <% } %>
            <div class="scheduleAddButton">
              <button type="button" class="btn btn-secondary btn-sm" id="addScheduleBtnId<%= day.id %>">+ 스케쥴 추가</button>
            </div>
          </div>
        <% }) %>
      </div>
      <!-- 본문 -->
    </div>
    <%-include('../partials/travelDetailPageModals.ejs') %>
<script src="/script/travelDetail.js"></script>
 <%-include('../partials/script.ejs') %>
 <script>
  window.onload = function () {
  // getDays(travelId);
  // 버튼에 이벤트리스트할당
  document.addEventListener('click', function (event) {
    // 경로 보기 버튼
    if (event.target.id.startsWith('viewDayPath')) {
      const dayId = event.target.id.replace('viewDayPath', '');
      viewDayPath(dayId);
    }
    // Add Schedule 버튼
    else if (event.target.id.startsWith('addScheduleBtnId')) {
      const dayId = event.target.id.replace('addScheduleBtnId', '');
      document.getElementById('addScheduleModal').style.display = 'flex';
      addSchedule(dayId);
    }
    //상세보기 버튼
    else if (event.target.id.startsWith('scheduleDetail')) {
      const closeDetailModal = document.getElementById('closeDetailModal');
      closeDetailModal.addEventListener('click', () => {
        viewScheduleModal.style.display = 'none';
      });
      const scheduleId = event.target.id.replace('scheduleDetail', '');
      document.getElementById('viewScheduleModal').style.display = 'flex';
      // console.log(scheduleId);
      viewScheduleDetail(scheduleId);
    }
  });
};
const viewPathButtons = document.querySelectorAll('.viewPathButton');

const viewPathModal = document.getElementById('viewPathModal');

const closePathModal = document.getElementById('closePathModal');

closePathModal.addEventListener('click', () => {
  viewPathModal.style.display = 'none';
});

viewPathButtons.forEach((viewPathButton) => {
  viewPathButton.addEventListener('click', () => {
    viewPathModal.style.display = 'flex';
  });
});
 </script>
  </body>
