<!doctype html>
<html lang="en">
  <head>
    <%-include('../partials/head.ejs') %>
  </head>
  <body>
    <%-include('../partials/header.ejs') %>
    <div class="container card userInfoContainer">
      <!-- 본문 -->
      <h3 class="text-center mb-4">마이페이지</h3>
      <!-- Form Section -->
      <div class="d-flex justify-content-center mb-2">
        <img
          class="userInfoImgBox"
          src="https://mblogthumb-phinf.pstatic.net/MjAyMDExMDFfMTgy/MDAxNjA0MjI4ODc1NDMw.Ex906Mv9nnPEZGCh4SREknadZvzMO8LyDzGOHMKPdwAg.ZAmE6pU5lhEdeOUsPdxg8-gOuZrq_ipJ5VhqaViubI4g.JPEG.gambasg/%EC%9C%A0%ED%8A%9C%EB%B8%8C_%EA%B8%B0%EB%B3%B8%ED%94%84%EB%A1%9C%ED%95%84_%ED%95%98%EB%8A%98%EC%83%89.jpg?type=w800"
        />
      </div>
      <div class="d-flex justify-content-center mb-3">
        <button class="btn btn-outline-secondary btn-sm" id="changeUserImgBtn">이미지 변경</button>
      </div>
      <form id="updateProfileForm">
        <!-- 이름 -->
        <div class="mb-4">
          <label for="userInfoUserName">이름</label>
          <input value="<%= user.name %>" class="input-group-text" readonly />
        </div>
        <!-- 이메일 -->
        <div class="mb-5">
          <label for="userInfoUserName">이메일</label>
          <input value="<%= user.email %>" class="input-group-text" readonly />
        </div>
        <hr />
        <p class="text-center mt-2 changePasswordinfo">
          비밀번호를 변경하는 경우 아래를 입력하세요.
        </p>
        <!-- 기존 비밀번호 -->
        <div class="mb-4">
          <label for="password">기존 비밀번호</label>
          <input type="password" id="password" class="input-group-text" required />
        </div>
        <!-- 새 비밀번호 -->
        <div class="mb-4">
          <label for="newPassword">새 비밀번호</label>
          <input type="password" id="newPassword" class="input-group-text" />
        </div>
        <div class="mb-4">
          <label for="passwordConfirm">새 비밀번호 확인</label>
          <input type="password" id="passwordConfirm" class="input-group-text" />
        </div>
        <div class="flex justify-end mt-4">
          <button type="submit" class="btn btn-primary mb-3 updatepasswordBtn">
            비밀번호 수정
          </button>
          <button id="delete-profile-button" type="button" class="btn btn-danger">탈퇴</button>
        </div>
      </form>
      <!-- 본문 -->
    </div>
    <%-include('../partials/script.ejs') %>
  </body>
</html>
