<!-- 수정 모달 -->
<div
  class="modal fade"
  id="boardModal"
  tabindex="-1"
  aria-labelledby="boardModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 boardModalTitle" id="boardModalLabel">여행 보드 생성</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input type="hidden" name="theme" id="travelId" value="<%= oneTravel.id %>" />
          <p for="boardTitle" class="form-label mt-3">여행 보드 이름</p>
          <input
            type="text"
            class="form-control"
            id="boardTitle"
            value="<%= oneTravel.title %>"
            placeholder="여행 이름을 입력해주세요."
          />
        </div>
        <!-- 여행 보드 수정 모달에서 시작 일정, 지역 선택 불가 -->
        <!-- <p for="startDate" class="form-label mt-3">시작 일정</p> -->
        <div class="datePickerContainer">
          <input
            class="input-group-text hideInput"
            type="hidden"
            type="text"
            name="start_date"
            id="startDate"
            value="<%= oneTravel.start_date %>"
            placeholder="날짜를 선택하세요."
          />
        </div>
        <!-- <p for="endDate" class="form-label mt-3">종료 일정</p> -->
        <div class="datePickerContainer">
          <input
            class="input-group-text hideInput"
            type="hidden"
            type="text"
            name="end_date"
            id="endDate"
            value="<%= oneTravel.end_date %>"
            placeholder="날짜를 선택하세요"
          />
        </div>
        <!-- <p for="regionSelection" class="mt-3">
          대표 지역<span class="themeSideText ms-2"> 하나의 지역만 선택할 수 있습니다.</span>
        </p>
        <div class="region-selection" id="regionSelection">
          <div class="region-box selectBox" data-region="서울">서울</div>
          <div class="region-box selectBox" data-region="인천">인천</div>
          <div class="region-box selectBox" data-region="경기도">경기도</div>
          <div class="region-box selectBox" data-region="부산">부산</div>
          <div class="region-box selectBox" data-region="대구">대구</div>
          <div class="region-box selectBox" data-region="대전">대전</div>
          <div class="region-box selectBox" data-region="광주">광주</div>
          <div class="region-box selectBox" data-region="울산">울산</div>
          <div class="region-box selectBox" data-region="세종">세종</div>
          <div class="region-box selectBox" data-region="강원">강원</div>
          <div class="region-box selectBox" data-region="충북">충북</div>
          <div class="region-box selectBox" data-region="충남">충남</div>
          <div class="region-box selectBox" data-region="전북">전북</div>
          <div class="region-box selectBox" data-region="전남">전남</div>
          <div class="region-box selectBox" data-region="경북">경북</div>
          <div class="region-box selectBox" data-region="경남">경남</div>
          <div class="region-box selectBox" data-region="제주">제주</div>
        </div> 
        숨겨진 지역 인풋-->
        <input type="hidden" name="region" id="selectedRegion" value="<%= oneTravel.region %>" />

        <!-- <p for="theme" class="mt-3">
          테마 <span class="themeSideText ms-">하나의 테마만 선택할 수 있습니다.</span>
        </p>
        <div class="theme-selection" id="themeSelection">
          <div class="theme-box selectBox" data-theme="문화">문화</div>
          <div class="theme-box selectBox" data-theme="자연">자연</div>
          <div class="theme-box selectBox" data-theme="도시">도시</div>
          <div class="theme-box selectBox" data-theme="휴양">휴양</div>
          <div class="theme-box selectBox" data-theme="음식">음식</div>
        </div> -->
        <!-- 숨겨진 테마 인풋 -->
        <input type="hidden" name="theme" id="selectedTheme" value="<%= oneTravel.theme %>" />
        <p for="color" class="form-label mt-3">색상</p>
        <div class="color-selection" id="colorSelection">
          <div class="color-box" style="background-color: #add8e6" data-color="#ADD8E6"></div>
          <div class="color-box" style="background-color: #98eecc" data-color="#98EECC"></div>
          <div class="color-box" style="background-color: #9fb4ff" data-color="#9FB4FF"></div>
          <div class="color-box" style="background-color: #ffdab9" data-color="#FFDAB9"></div>
          <div class="color-box" style="background-color: #ffc0cb" data-color="#FFC0CB"></div>
          <div class="color-box" style="background-color: #dda0dd" data-color="#DDA0DD"></div>
          <div class="color-box" style="background-color: #87cefa" data-color="#87CEFA"></div>
          <div class="color-box" style="background-color: #afeeee" data-color="#AFEEEE"></div>
          <div class="color-box" style="background-color: #ffb6c1" data-color="#FFB6C1"></div>
          <div class="color-box" style="background-color: #e6e6fa" data-color="#E6E6FA"></div>
          <div class="color-box" style="background-color: #d3d3d3" data-color="#D3D3D3"></div>
          <div class="color-box" style="background-color: #ffebad" data-color="#FFEBAD"></div>
        </div>
        <!-- 숨겨진 컬러 인풋 -->
        <input type="hidden" name="color" id="selectedColor" value="<%= oneTravel.color %>" />
      </div>
      <div class="modal-footer text-center row">
        <button type="button" class="btn col btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="button" id="boardUpdateBtn" class="btn col btn-dark">수정</button>
      </div>
      <button type="button" class="btn col btn-danger mx-3 mb-3" id="boardDeleteBtn" >보드 삭제</button>
    </div>
  </div>
</div>
<!-- 수정 모달 -->
<!-- 경로보기 모달 -->
<div id="viewPathModal" class="modal">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h2>경로보기 모달</h2>
      </div>
      <div class="modal-body">
        <div id="dayMap" style="width: 100%; height: 700px"></div>
      </div>
      <div class="modal-footer">
        <button type="button" id="closePathModal" class="btn btn-secondary" data-bs-dismiss="modal">
          닫기
        </button>
      </div>
    </div>
  </div>
</div>
<!-- 경로보기 모달 -->

<!-- schedule 추가 모달 -->
<section id="addScheduleModal" class="modal">
  <div class="modal-content addScheduleModalContent">
    <header class="addScheduleModal-header">
      <h1 id="tavelTitle"><%= oneTravel.title %></h1>
      <h2 id="dayTitle">n일차</h2>
      <p onclick="closeModalPage()">X</p>
    </header>
    <div class="addScheduleModal-container">
      <!-- placeInfo, mapView 가로배열로 보여지게 -->
      <div class="addScheduleModal-placeInfo">
        <div class="addScheduleModal-selectOption">
          <form action="#">
            <label for="areaCode">지역: </label>
            <select name="지역" id="areaCode">
              <option value="1">서울</option>
              <option value="2">인천</option>
              <option value="3">대전</option>
              <option value="4">대구</option>
              <option value="5">광주</option>
              <option value="6">부산</option>
              <option value="7">울산</option>
              <option value="8">세종</option>
              <option value="31">경기</option>
              <option value="32">강원</option>
              <option value="33">충북</option>
              <option value="34">충남</option>
              <option value="35">경북</option>
              <option value="36">경남</option>
              <option value="37">전북</option>
              <option value="38">전남</option>
              <option value="39">제주</option>
            </select>
            <label for="category">카테고리: </label>
            <select name="카테고리" id="category">
              <option value="O00">전체</option>
              <option value="A01">자연</option>
              <option value="A02">인문(문화/예술/역사)</option>
              <option value="A03">레포츠</option>
              <option value="A04">쇼핑</option>
              <option value="A05">음식</option>
              <option value="B02">숙박</option>
              <option value="C01">추천코스</option>
            </select>
            <!-- <input type="submit" value="Submit" id="submit" /> -->
            <button id="addScheduleModal-submit">찾기</button>
          </form>
        </div>
        <div class="addScheduleModal-placeList" id="addScheduleModal-placeList">
          <div
            class="addScheduleModal-place"
            id="134"
            data-mapx="35.9181953"
            data-mapy="123.0626361"
          >
            <div class="addScheduleModal-imgUrl">
              <img
                class="addScheduleModal-placeImg"
                src="https://img.freepik.com/premium-vector/default-image-icon-vector-missing-picture-page-for-website-design-or-mobile-app-no-photo-available_87543-11093.jpg"
              />
            </div>
            <div class="addScheduleModal-placeContent">
              <p class="placeName">장소 이름</p>
              <p class="placeAddress">장소 주소</p>
              <p class="placeCategory" data-cat1="A02">카테고리</p>
            </div>
            <button class="addScheduleModal-select">선택</button>
          </div>
        </div>
        <button id="connectApi">더 많은 장소 보기</button>
      </div>
      <!-- <div class="addScheduleModal-mapView"> -->
        <!-- selectOption으로 선택된 지역 중심으로 지도 보여지게 -->
      </div>
    </div>
  </div>
</div>
</section>
<!-- schedule 추가 모달 -->

<!-- schedule 상세보기 모달 -->
<section id="viewScheduleModal" class="modal">
  <div class="modal-content">
    <!-- schedule 생성 -->
    <div>
      <h1 id="tavelTitle"><%= oneTravel.title %></h1>
      <h2 id="dayTitle"></h2>
    </div>
    <div class="container">
      <!-- placeInfo, mapView 가로배열로 보여지게 -->
      <div class="readPlace">
        <div class="placeName">
          <p id="">장소 이름</p>
          <input type="text" id="viewScheduleModal-name" placeholder="" value="" />
        </div>
        <div class="placeAddress">
          <p id="">장소 주소</p>
          <input type="text" id="viewScheduleModal-address" placeholder="" value="" />
        </div>
        <div class="placeCategory">
          <p id="">장소 카테고리</p>
          <input type="text" id="viewScheduleModal-category" placeholder="" value="" />
        </div>
        <div class="placeTransportation">
          <p id="">교통편</p>
          <input type="text" id="viewScheduleModal-transportation" placeholder="" value="" />
        </div>
        <div class="placeMemo">
          <p id="">메모</p>
          <textarea id="viewScheduleModal-memo" placeholder=""></textarea>
        </div>
        <button id="viewScheduleModal-update">수정</button>
        <button id="viewScheduleModal-delete">삭제</button>
        <button id="closeDetailModal" type="button" onclick="closeDetailModalPage()">닫기</button>
      </div>
      <!-- <div class="mapView" id="scheduleMap" style="width: 100%; height: 100%"> -->
        <!-- selectOption으로 선택된 지역 중심으로 지도 보여지게 -->
      </div>
    </div>
  </div>
</section>
<!-- schedule 상세보기 모달 -->
